<!--COMPLETADO 100%-->

<!--SOLO INDICE-->

<header>
  <figure>
<<<<<<< HEAD
    <img style="opacity: 0.7;" src="content/images/comovas_portada.png" width="800">
    <figcaption style="color:white; opacity: 0.7;">"Solo hay 2700 multimilmillonarios. 5 centimilmillonarios. El número uno es calvo. Piénsalo."</figcaption>
=======
    <img style="opacity: 0.9;" src="content/images/comovas_laweb.svg" width="800">
>>>>>>> 7011b9e312a236ec785c322ddc4f16dceedb5e0f
  </figure>
</header>


<article>
<<<<<<< HEAD
  <aside>
    <p><sup>NUEVO</sup> ¡Colabora con nosotros! Mira nuestra <a href="/proyectos2022">página de proyectos</a> y ponte en contacto por <a href="mailto:sergio@comovas.es">email</a> o <a href="https://www.twitter.es/sergiocomovas" target="_blank">RRSS</a>  </p>
  </aside>
</article>


<!-- REPETIBLE TARJETAS POST-->
<section>
  <section>
    <aside style="background-color:#25455F">
=======

  <aside style="margin-bottom: 1rem">
    <p><sup>#OPEN TO WORK</sup><br> Lee mis <a href="https://www.linkedin.com/in/srgrigo/recent-activity/posts/">[ARTÍCULOS]</a> de Linkedin, accede a <a href="https://cosasdev.comovas.es">[COSAS DEV]</a> para ver mis prácticas con REACT y a mis repositorios de <a href="https://github.com/sergiocomovas/">[GITHUB]</a> </p>
  </aside>
</article>

<!-- INICIO DISEÑO NUEVO Flickity-->
<div class="carousel" data-flickity='{ "groupCells": 2, "freeScroll": true, "wrapAround": true, "cellAlign": "right" }'>
    

<!-- Enlaces importantes -->
  <div class="carousel-cell is-initial-select" ><section>
    <aside style="height: 555px; border: 1px solid var(--color-secondary); background-color: var(--color-secondary-accent)">
>>>>>>> 7011b9e312a236ec785c322ddc4f16dceedb5e0f
          <h2>
            📌
          </h2>
          <h3>Redes Sociales</h3>
          
            <li><a href="https://twitter.com/sergiocomovas" target="_blank">Twitter (Cuenta Personal)</a></li>
            <li><a href="https://twitter.com/avisoscomovas" target="_blank">Twitter </a></li>
            <li><a href="https://twitch.tv/sergiocomovas" target="_blank">Twitch</a></li>
            <li><a href="https://dlive.tv/sergiocomovas" target="_blank">DLive</a></li>
          
          <h3>Telegram</h3>
            <li><a href="https://t.me/canalpirata" target="_blank">Canal Pirata</a></li>
            <li><a href="https://t.me/chatpirata" target="_blank">Chat Pirata</a></li>  
          
          <h3>Otros</h3>
          <li><a href="https://www.linkedin.com/in/srgrigo/">LINKEDIN</a></li>
          <li><a href="https://github.com/sergiocomovas">GITHUB</a></li>
    </aside>
<<<<<<< HEAD
  </section> 
 <!-- REPETIBLE TARJETAS POST-->
  {{#each posts}}
  <section>
    <aside>
          <h2>
            🟦<a style="text-shadow: 0 0 5px #000;" href="/{{this.permalink}}"> {{this.title}}</a> 
          </h2>
          <p><strong>{{this.description}}</strong></p>
          <p>{{this.summary}}…</p>
          <a href="/{{this.permalink}}"><em>Seguir leyendo…</em></a>
    </aside>
  </section>
  {{/each}}
</section>
=======
  </section></div>
 
 <!-- Últimas Entradas -->
  {{#each posts}}
  <div class="carousel-cell"><section>
    <aside style="height: 555px;">

          <!--https://qastack.mx/programming/10736907/handlebars-js-else-if--> 
            {{#if this.mainimage}}
            <img alt="{{this.title}}" style="width:100%; max-height: 285px" src="{{this.mainimage}}"> 
            {{else}}
            <img alt="{{this.title}}" style="width:100%; max-height: 
            285px" src="../content/images/posts/20220803174020.png"> 
            {{/if}}       

            <div style="max-height: 110px; text-overflow: ellipsis; overflow: hidden">
              <h2 style="padding:0px">
              <a title="{{this.summary}}..." href="/{{this.permalink}}">{{this.title}}</a> 
              </h2>
            </div>

            <div style="max-height: 100px; overflow: hidden; text-overflow: ellipsis;">
            {{this.description}}
            </div>


            <div style="bottom: 30px; left:17px; background: var(--color-bg);
background: linear-gradient(0deg, var(--color-bg100) 2%, var(--color-bg) 3%, var(--color-bg) 65%, var(--color-bg100) 75%); position:absolute; width: 325px;">
              <a style="padding: 50px 0px 0px 10px" href="/{{this.permalink}}"><em>Seguir leyendo…</em></a> 

          </div>
    </aside>
  </section></div>
  {{/each}}


</div>


 <!-- FIN DISEÑO NUEVO -->

>>>>>>> 7011b9e312a236ec785c322ddc4f16dceedb5e0f

<!-- REPLETIBLE PAGINACIÓN -->
{{#if config.pagination}}
{{#if shouldPaginate}}
<header>
  
    <h3>Página {{page}} de {{pages}}</h3>
    <div>
    {{#if prevPage }}
        <a href="/page/{{prevPage}}"><button>&laquo; Atrás</button></a>
    {{/if}}
    {{#if nextPage }}
        <a href="/page/{{nextPage}}"><button>Siguiente &raquo;</button></a>
    {{/if}}
    </div>
</header>
{{/if}}
{{/if}}