<!--COMPLETADO 100%-->

<!-- REPETIBLE TARJETAS POST-->
<section>
  {{#each posts}}
  <section>
    <aside>
          <h2>
            🟦<a style="text-shadow: 0 0 5px #000;" href="/{{this.permalink}}"> {{this.title}}</a> 
          </h2>
          <p><strong>{{this.description}}</strong></p>
          <p>{{this.summary}}…</p>
          <a href="/{{this.permalink}}"><em>Seguir leyendo…</em></a>
    </aside>
  </section>
  {{/each}}
</section>

<!-- REPLETIBLE PAGINACIÓN -->
{{#if config.pagination}}
{{#if shouldPaginate}}
<header>
  
    <h3>Página {{page}} de {{pages}}</h3>
    <div>
    {{#if prevPage }}
        <a href="/page/{{prevPage}}"><button>&laquo; Atrás</button></a>
    {{/if}}
    {{#if nextPage }}
        <a href="/page/{{nextPage}}"><button>Siguiente &raquo;</button></a>
    {{/if}}
    </div>
</header>
{{/if}}
{{/if}}