<<<<<<< HEAD
<header>
    <h1>{{title}}</h1>
</header>

<article> 
    {{{body}}} 
</article>


<details> 
    <summary>Información adicional</summary>
    <ul>
        <li>Escrito por: Sergio R</li>
        <li>Fecha del artículo: {{date}}</li>
        <li>Reportar: <a href="mailto:sergio@comovas.com?subject=||REF*{{permalink}}*||"><span style="color:red">⚠️</span></a></li>
    </ul>
</details>


{{#if tags}}
<h3>ETIQUETADO EN:<br><br>
        <div style="padding-bottom: 20px; padding-left: 15px;" >| {{#each tags}}
        <a href="/tag/{{this}}/">{{this}}</a> |
        {{/each}}</div>
</h3>
{{/if}}


{{#if related}}
<h3>TAMBIÉN TE PUEDE INTERESAR:</h3>
<section style="margin:1px 1px 1px 1px;"> 

  {{#each related}}
    {{#ifCond @index '<' 3}}
    
    <a href="/{{../this.url}}">
        <aside style="height:8em;">
            <h4>
               {{../this.title}}
            </h4>
        </aside>
    </a>
    {{/ifCond}}
  {{/each}}
</section>
{{/if}}
=======
<big>
    <header>
        <h1>{{title}}</h1>
    </header>

    <article class="tam"> 
        {{{body}}} 
    </article>

    <details> 
        <summary>Información adicional</summary>
        <ul>
            <li>Escrito por: Sergio R</li>
            <li>Fecha del artículo: {{date}}</li>
            <li>Reportar: <a href="mailto:sergio@comovas.com?subject=||REF*{{permalink}}*||"><span style="color:red">⚠️</span></a></li>
        </ul>
    </details>

    {{#if tags}}
    <h3>ETIQUETADO EN:<br><br>
            <div style="padding-bottom: 20px; padding-left: 15px;" >| {{#each tags}}
            <a href="/tag/{{this}}/">{{this}}</a> |
            {{/each}}</div>
    </h3>
    {{/if}}

    {{#if related}}
    <h3>TAMBIÉN TE PUEDE INTERESAR:</h3>
    <section style="margin:1px 1px 1px 1px;"> 

    {{#each related}}
        {{#ifCond @index '<' 3}}
        <a href="../{{../this.permalink}}">
            <aside style="height:8em;">
                <h4>
                {{../this.title}}
                </h4>
             </aside>
        </a>
        {{/ifCond}}
    {{/each}}
    </section>
    {{/if}}

</big>
>>>>>>> 7011b9e312a236ec785c322ddc4f16dceedb5e0f
